<a href="#">Back</a>

<div>
         <p ng-hide="reposFound">No repos found!!!</p>

         <div ng-show="reposFound">
            <p><strong>Repos List:</strong></p>
            <table id="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Link</th>
                    </tr>
                  </thead>
            <tr ng-repeat="repo in repos">
               <td>{{$index + 1}}</td>
               <td>{{repo.name}}</td>
               <td><a href="{{repo.html_url}}" target="_blank"> {{repo.name}} </a></td>
            </tr>
            </table>
         </div>
</div>

